@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my hip hop music page</h1>
    <h3>About hip hop music</h3>
    <p>Hip hop music is my favorite genre of music. 
       This music has so much to offer in terms of different styles that will make anyone nod their head to.
       Some of my favorite artists are Kanye West, Kendrick Lamar, Wu-Tang Clan, Nas, Jay-Z, and Outkast.
       They all demonstrate excellent use of production and lyricism. My favorite song of all time is 93 til' Infinity.
       Some other amazing songs you should check out are C.R.E.A.M. by Wu-Tang Clan, N.Y. State of Mind by Nas, 
       Moment of Truth by Gang Starr, and They Reminisce Over You (T.R.O.Y) by C.L. Smooth and Pete Rock.
       Below are two of my favorite albums:</p>
	<br />

	<div class="album-container">
		<img src="~/img/thecollegedropout.jpg" alt="Album 1" class="album-image">
		<img src="~/img/madvilliany.jpg" alt="Album 2" class="album-image">
	</div>

	<br />

    <h3>Production in hip hop music</h3>
	<p>
	    Production in hip hop music is a key element that makes the music so enjoyable.
		The beats are what make the music so catchy and memorable.
		Some of the best producers in hip hop music are Dr. Dre, Kanye West, J Dilla, DJ Premier, and RZA.
		They all have a unique style that makes their music stand out.
		The use of samples and drum patterns is what makes their music so great.
		Some of my favorite beats are Still D.R.E. by Dr. Dre,
		Through the Wire by Kanye West, and Electric Relaxation by A Tribe Called Quest.
	</p>

</div>
